@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to this web application</h1>
    <p>This web application is developed using ASP.NET core.</p>
</div>
